<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Activation</title>
</head>
<body style="width: fit-content; margin: 50px auto">
    <form class="pure-form" method="post">
        <legend>Activate your account</legend>
        <fieldset>
            <input style="width: 350px" type="text" name="code" placeholder="Activation code">
            <input class="pure-button pure-button-primary" type="submit" value="Continue">
        </fieldset>
    </form>
</body>
</html>