<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        input {
            width: 300px;
        }
    </style>
    <title>Login</title>
</head>
<body style="width: fit-content; margin: 100px auto">
    <form class="pure-form" name='f' action="/login" method='POST'>
        <legend>Welcome</legend>
        <fieldset>
            <input type='text' name='username' placeholder="Username">
        </fieldset>
        <fieldset>
            <input type='password' name='password' placeholder="Password"/>
            <span class="pure-form-message" style="color: red; padding-top: 10px; font-size: medium" th:text="${errorMessage}"></span>
        </fieldset>
        <fieldset>
            <label for="remember">
                <input style="width: fit-content" id="remember" type="checkbox" name="remember-me"> Remember me
            </label>
        </fieldset>
        <fieldset>
            <input name="submit" type="submit" value="Login" class="pure-button pure-button-primary"/>
        </fieldset>
    </form>
    <p class="pure-form-message" style="font-size: medium; width: fit-content; margin: 5px auto;">Are you new? <a href="/register">Register here.</a></p>
</body>
</html>