<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        input {
            width: 300px;
        }
    </style>
    <title>Reset password</title>
</head>
<body style="width: fit-content; margin: 100px auto">
    <form class="pure-form" name='f' action="/reset" method='POST'>
        <legend>Enter your email:</legend>
        <fieldset>
            <input type='email' name='email' placeholder="Email">
            <span class="pure-form-message" style="padding-top: 10px; font-size: medium" th:text="${message}"></span>
        </fieldset>

        <fieldset>
            <input name="submit" type="submit" value="Reset password" class="pure-button pure-button-primary"/>
        </fieldset>
    </form>
</body>
</html>